#mypic {
    -webkit-animation: flipp 2s;
    animation: flipp 2s;
}
@-webkit-keyframes flipp {
from {
    transform: rotateY(90deg)
}
to {
    transform: rotateY(0deg)
}
}
@keyframes flipp {
from {
    transform: rotateY(90deg)
}
to {
    transform: rotateY(0deg)
}
}