#mypic {
    -webkit-animation: flip 2s;
    animation: flip 2s;
}
@-webkit-keyframes flip {
from {
    transform: rotateY(90deg)
}
to {
    transform: rotateY(0deg)
}
}
@keyframes flip {
from {
    transform: rotateY(90deg)
}
to {
    transform: rotateY(0deg)
}
}